html {
    scroll-behavior: smooth;
  }

#experience:target, #education:target, #work:target {
    padding-top: 50px;
    margin-top: -50px;
}

/*-- header --*/

.navbar-fixed {
    position: sticky;
    top: 0px;
}
.navbar-fixed nav {
    position: fixed;
    top: 0px;
}

.sidenav-overlay {
    z-index: 990;
}

/* -- Contact Info  --*/

main, footer {
    padding-left: 500px;
}

#slide-out{
    width: 500px;
}

#slide-out .main-info{
    display: flex;
    padding: 32px 32px;
}
#slide-out .main-info img{
    height: 150;
    width: 150;
}
#slide-out .main-info .main-info-content{
    padding-left: 32px;
    bottom: 0;
    align-self: end;
}

#slide-out .main-info .main-info-content .name{
    font-size: 2rem;
}
#slide-out .description .email {
    padding-top: 5px;
    padding-bottom: 0;
}
#slide-out .description a{
    display: inline-flex;
}

.material-icons{
    line-height: inherit;
    vertical-align: middle;
}

#slide-out .user-view li{
    line-height: initial;
}

.skills .skills-header{
    font-size: 1.2rem;
}
.skills .skills-title{
    padding-bottom: 10px;
    padding-top: 10px;
}

.skills .skills-entry{
    padding-bottom: 12px;
    font-size: 0.8rem;
}

.skills .skills-entry .line{
    height: 3px;
    align-self: stretch;
    flex-grow: 0; 
    margin-top: 5px;
}

.skills .skills-entry .line.HTML{
    background-image: linear-gradient(to right, green 85%, lightgrey 15%);
}
.skills .skills-entry .line.CSS{
    background-image: linear-gradient(to right, green 85%, lightgrey 15%);
}
.skills .skills-entry .line.SASS{
    background-image: linear-gradient(to right, green 60%, lightgrey 40%);
}
.skills .skills-entry .line.JS{
    background-image: linear-gradient(to right, green 70%, lightgrey 30%);
}
.skills .skills-entry .line.Angular{
    background-image: linear-gradient(to right, green 30%, lightgrey 30%);
}
.skills .skills-entry .line.Node{
    background-image: linear-gradient(to right, green 70%, lightgrey 30%);
}
.skills .skills-entry .line.React{
    background-image: linear-gradient(to right, green 85%, lightgrey 15%);
}
.skills .skills-entry .line.JQuery{
    background-image: linear-gradient(to right, green 85%, lightgrey 15%);
}
.skills .skills-entry .line.Bootstrap{
    background-image: linear-gradient(to right, green 90%, lightgrey 10%);
}

/* -- Experience  --*/
.card-content .clearfix::after {
    display: inline-flex;
    content: '';
    clear: both;
}

.card-content .clearfix h5{
    margin: 0 0 10px 0;
    display: inline-flex;
}

.card-content .clearfix + p {
    margin: 1em 0;
}

.card .collapsible {
    border-right: none;
    border-left: none;
    box-shadow: none;
}
.card .collapsible-body ul, .card .collapsible-body ul li{
    list-style-type: disc;
    margin-block-start: 1em;
}
.card .collapsible-body ul{
    padding-inline-start: 40px;

}

/* -- Carousel -- */
.carousel{
    height: 450px;
}
.carousel .indicators .indicator-item.active {
    background-color: #444;
}
.carousel .indicators .indicator-item {
    background-color: rgba(68,68,68,0.5);
}
.carousel .carousel-item iframe {
    width: 80%;
    height: 400px;
}
.carousel.carousel-slider .carousel-item {
    margin: 0 10%;
}

/* -- footer -- */

footer .row{
    margin-bottom: 0;

}

@media only screen and (max-width : 1500px) {
    
    /* -- Contact Info  --*/

    main, footer {
        padding-left: 300px;
    }
    
    #slide-out{
        width: 300px;
    }
    #slide-out .main-info img{
        height: 72;
        width: 72;
        align-self: center;

    }
}


@media only screen and (max-width : 992px) {
    
    /* -- Contact Info  --*/

    header, main, footer {
        padding-left: 0;
    }

    /* -- Carousel -- */
    .carousel .carousel-item iframe {
        width: 90%;
    }
    .carousel.carousel-slider .carousel-item {
        margin: 0 5%;
    }
}
